header, nav, footer {
    display: none;
}

main {
    margin-top: 0;
}

section.sidebar {
    display: none;
}

.flex-container {
    justify-content: flex-start;
}

.character, .movie, .image {
    margin-bottom: 0;
}